
body{
    background-image: url(bg-curve-desktop.svg);
    background-repeat: no-repeat;
}
.buttons{
    word-spacing: 40px;
    float: left;
    margin-left: 85%;
    
}

.Text{
    margin: 20% 60% 0% 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  padding-top: 20px;
}
.para{
    font-size:108%;
}
input[type=email]{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    
}
button{
        background-color: hsl(224, 93%, 58%);
        color: white;
        box-sizing: border-box;
        border-radius: 9cap;
        size: 150%;
        margin-top: 10px;
        cursor: pointer;
}
.image{
    
    float: right;
    margin: 0% 4% 80% 55%;
    height: 90%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 20px;
    margin-top: 8%;
}